.Button {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}


.Button_footer {
    margin: auto;
    width: 100%;
    height: 80px;
    min-height: footer;
}

.Button_GREEN {
    background-color: rgb(100, 201, 100);
    color: white;
}

.Button_RED {
    background-color: rgb(253, 86, 95);
    color: white;
}