.Button {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}


.Button_footer {
    margin: auto;
    font-size: 32px;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #ddd;
}

.Button_footer_harf {
    width: 50%;
    height: 80px;
    font-size: 32px;
}

.Button_GREEN {
    background-color: rgb(100, 201, 100);
    color: white;
}

.Button_RED {
    background-color: rgb(253, 86, 95);
    color: white;
}